.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.titel{
  font-size: 45px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.input-field{
  padding: 8px 12px;
  border-radius: 5px;
}
.input-container input {
  margin-right: 8px;
}
.add-task-button{
  padding: 8px 14px;
  color: rebeccapurple;
  border-radius: 5px;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-list li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.task-list li button {
  margin-left: 8px;
  color: red;
  border-color: blue;
  padding:0px 8px;
  border-radius: 3px;
}
